<script type="text/javascript">
  socket.on('block-new', function (data) {
    var list = document.querySelector('.js-latest-block');
    while (list.hasChildNodes()) {
      list.removeChild(list.lastChild);
    }
    for(var key in data){
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(key + ":" + data[key]));
      list.appendChild(li);
    }
  });
</script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="home">
  <div class="panel">
    <h2>This Blockchain</h2>
    <ul>
    {{#each mc}}
        <li>{{@key}} : {{this}}</li>
    {{/each}}
    </ul>
  </div>

  <div class="panel">
    <h2>Latest Block</h2>
    <ul class="js-latest-block">
    </ul>
  </div>
</div>
