<form class="" action="" method="post">

  <div class="">
    <label for="name">Give this garment/project a name</label><br/>
    <input type="text" name="name" value="">
  </div>
  <div class="">
    <label for="assetvalue">What total/maximum value do you want to make available for this garment?</label><br/>
    <input type="number" name="assetvalue" value="">
  </div>
  <!-- <div class="">
    <label for="addresses">List the addresses</label></br>
    <textarea name="addresses" value="" rows="10"></textarea>
  </div> -->
  <div class="">
    <label for="description">Describe the garment</label></br>
    <textarea name="description" value="" rows="10" cols="50"></textarea>
  </div>
  <button>Create wallet</button>

</form>
