<form class="" action="" method="post">

  <select name="asset">
    {{#each assets}}
    <option {{#if @last}}selected="selected"{{/if}} value="{{name}}">{{name}} - {{issueqty}}</option>
    {{/each}}
  </select>
  <div class="">
    <label for="ownaddress">Your own address will be included</label><br/>
    <input type="text" name="ownaddress" disabled value="{{address.address}}">
  </div>
  </hr>
  <div class=""> <label for="numowners">Minimum people needed to authenticate this task?</label><br/>
    <input type="number" name="numowners" value="">
  </div>
  <div class="">
    <label for="jobvalue">What value do you ascribe to this task?</label><br/>
    <input type="number" name="jobvalue" value="">
  </div>
  <!-- <div class="">
    <label for="addresses">List the addresses</label></br>
    <textarea name="addresses" value="" rows="10"></textarea>
  </div> -->
  <div class="">
    <label for="description">Describe the task</label></br>
    <textarea name="description" value="" rows="10" cols="50"></textarea>
  </div>
  <button>Create wallet</button>

</form>
